.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide img {
  object-fit: cover;
}

.mySwiper .swiper-slide {
  opacity: 0.8;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-button-next,
.swiper-button-prev {
  color: #af872c;
}

